
body { width: 1000px;
    margin: auto;
    background-color: #e0e0b7;}

    h1 {
        text-align: center;
        color:#2C3E50  ;
        font-size: 35px;
    }

    a {
        padding: 20px;
        text-decoration: none;
        text-align: center;
        
        
     }
    
     a:hover {
        background-color: #eeb0aa;
        color: #6b0c91;
     }


     th,td{
        padding: 10px;
        border-bottom: 1px solid;
        background-color:rgb(206, 110, 110);
    }
    
    main table{
        text-align: center;
        width: 100%;
        margin-top: 5%;
    
        
    }

